---
import BaseLayout from "../layouts/BaseLayout.astro";

import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Portfolio from "../components/Portfolio.astro";
import Services from "../components/Services.astro";
import Shop from "../components/Shop.astro";
import Affiliates from "../components/Affiliates.astro";
import Contact from "../components/Contact.astro";

---

<BaseLayout>

<div id="home">

<Hero />

</div>


<About />

<Portfolio />

<Services />

<Shop />

<Affiliates />

<Contact />

<form
name="contact"
data-netlify="true"
hidden
>

<input type="text" name="name" />
<input type="email" name="email" />
<input type="text" name="company" />
<input type="text" name="project" />
<textarea name="message"></textarea>

</form>

</BaseLayout>