---
import Container from "./ui/Container.astro";
import SectionHeader from "./ui/SectionHeader.astro";
import Card from "./ui/Card.astro";
import Metadata from "./ui/Metadata.astro";
---

<section
id="about"
class="
section
section-slate
"
>

<Container>


<SectionHeader

eyebrow="FIELD DOSSIER // 01"

title="Aerial Stories"

subtitle="From Alaska"

description="RavenØrix documents Alaska's remote environments through cinematic aerial media, capturing the scale, isolation, and beauty of the landscapes that define the Last Frontier."

/>



<div
class="
grid
lg:grid-cols-2
gap-10
items-start
"
>



<div
class="
space-y-6
text-gray-300
leading-relaxed
"
>

<p>
Based in Southeast Alaska, RavenØrix creates cinematic aerial
media for filmmakers, creators, brands, tourism organizations,
and projects seeking authentic wilderness imagery.
</p>


<p>
Our work explores remote coastlines, mountain ranges, glaciers,
and wild landscapes through a visual approach inspired by
expedition documentation and outdoor storytelling.
</p>


</div>





<Card>

<div
class="
space-y-8
"
>


<div>

<p
class="
text-xs
uppercase
tracking-[0.35em]
text-glacier-blue
"
>
Commercial Certification
</p>


<h3
class="
mt-4
font-heading
text-4xl
uppercase
"
>
FAA Part 107
</h3>


<p
class="
mt-2
text-gray-400
"
>
Certified Commercial Remote Pilot
</p>

</div>



<div
class="
grid
grid-cols-2
gap-6
"
>

<Metadata
label="Region"
value="Southeast Alaska"
/>


<Metadata
label="Base"
value="Juneau"
/>


</div>


</div>


</Card>


</div>



</Container>

</section>