<section
id="contact"
class="
py-24
bg-raven-black
"
>

<div
class="
max-w-7xl
mx-auto
px-6
lg:px-8
"
>


<div
class="
grid
lg:grid-cols-2
gap-16
"
>


<!-- Left Side -->

<div>


<p
class="
uppercase
tracking-[0.3em]
text-glacier-blue
text-sm
font-semibold
"
>
Contact
</p>


<h2
class="
mt-5
text-4xl
md:text-5xl
font-heading
font-bold
"
>
Start A Project
</h2>


<p
class="
mt-6
text-lg
text-gray-300
"
>

Have a location, story, or project that needs
aerial perspective? Contact RavenØrix to discuss
your vision.

</p>


<div
class="
mt-8
space-y-4
text-gray-300
"
>

<p>
✓ Commercial Drone Services
</p>

<p>
✓ FAA Part 107 Licensed Remote Pilot
</p>

<p>
✓ Alaska-Based Operations
</p>

<p>
✓ Custom Media Projects
</p>

</div>


</div>




<!-- Form -->


<form
name="contact"
method="POST"
data-netlify="true"
class="
space-y-5
"
>


<input
type="hidden"
name="form-name"
value="contact"
/>



<input
type="text"
name="name"
placeholder="Name"
required
class="
w-full
rounded-lg
bg-white/5
border
border-white/10
px-5
py-4
outline-none
focus:border-glacier-blue
"
/>



<input
type="email"
name="email"
placeholder="Email"
required
class="
w-full
rounded-lg
bg-white/5
border
border-white/10
px-5
py-4
outline-none
focus:border-glacier-blue
"
/>



<input
type="text"
name="company"
placeholder="Company (optional)"
class="
w-full
rounded-lg
bg-white/5
border
border-white/10
px-5
py-4
outline-none
focus:border-glacier-blue
"
/>



<select
name="project"
class="
w-full
rounded-lg
bg-white/5
border
border-white/10
px-5
py-4
text-gray-300
"
>

<option>
Project Type
</option>

<option>
Real Estate
</option>

<option>
Tourism / Hospitality
</option>

<option>
Commercial Marketing
</option>

<option>
Footage Licensing
</option>

<option>
Custom Project
</option>

</select>




<textarea
name="message"
rows="5"
placeholder="Tell me about your project..."
class="
w-full
rounded-lg
bg-white/5
border
border-white/10
px-5
py-4
outline-none
focus:border-glacier-blue
"
></textarea>



<button
type="submit"
class="
w-full
rounded-lg
bg-glacier-blue
text-raven-black
font-semibold
py-4
hover:scale-[1.02]
transition
"
>
Send Request
</button>


</form>


</div>


</div>


</section>