<section
id="hero"
class="
relative
min-h-screen
flex
items-center
overflow-hidden
"
>

<!-- Background Video -->

<video
class="
absolute
inset-0
w-full
h-full
object-cover
"
autoplay
muted
loop
playsinline
>

<source
src="/video/OuterPoint_Pack3_4k_Clip6.mp4"
type="video/mp4"
/>

</video>


<!-- Dark Overlay -->

<div
class="
absolute
inset-0
bg-black/60
"
></div>


<!-- Content -->

<div
class="
relative
z-10
max-w-7xl
mx-auto
px-6
lg:px-8
w-full
"
>


<div
class="
max-w-3xl
"
>


<p
class="
uppercase
tracking-[0.3em]
text-glacier-blue
text-sm
font-semibold
"
>
Southeast Alaska
</p>


<h1
class="
mt-6
font-heading
text-5xl
md:text-7xl
font-bold
leading-tight
"
>

Cinematic
Alaska
<br />
Drone Media

</h1>


<p
class="
mt-6
text-xl
text-gray-300
max-w-xl
"
>

Capturing the scale, isolation, and beauty of Alaska
through aerial photography, cinematic footage, and
commercial drone services.

</p>



<div
class="
mt-10
flex
flex-wrap
gap-4
"
>


<a
href="#portfolio"
class="
px-8
py-4
rounded-lg
bg-glacier-blue
text-raven-black
font-semibold
hover:scale-105
transition
"
>
Explore Footage
</a>



<a
href="#contact"
class="
px-8
py-4
rounded-lg
border
border-white/30
hover:bg-white/10
transition
"
>
Request Quote
</a>


</div>



<div
class="
mt-10
inline-flex
items-center
gap-3
border
border-white/20
rounded-full
px-5
py-3
bg-black/30
"
>

<div
class="
h-2
w-2
rounded-full
bg-glacier-blue
"
></div>


<span
class="
text-sm
text-gray-300
"
>
FAA Part 107 Commercial Remote Pilot
</span>


</div>


</div>


</div>


</section>