---
---

<section
id="home"
class="
relative
min-h-screen
flex
items-center
overflow-hidden
"
>

<video
class="
absolute
inset-0
w-full
h-full
object-cover
"
autoplay
muted
loop
playsinline
>

<source
src="/video/OuterPoint_Pack3_4k_Clip6.mp4"
type="video/mp4"
/>

</video>


<div
class="
absolute
inset-0
bg-black/65
"
></div>


<div
class="
absolute
inset-0
tech-grid
"
></div>




<div
class="
relative
z-10
max-w-7xl
mx-auto
px-6
lg:px-8
w-full
"
>


<div
class="
max-w-5xl
"
>


<p
class="
uppercase
tracking-[0.5em]
text-glacier-blue
text-xs
md:text-sm
font-semibold
"
>
Field Operations // Alaska Aerial Media
</p>




<h1
class="
mt-8
font-heading
uppercase
leading-[0.85]
"
>

<span
class="
block
text-7xl
md:text-9xl
"
>
Alaska
</span>


<span
class="
block
text-6xl
md:text-8xl
text-white/80
"
>
Unseen
</span>


</h1>




<p
class="
mt-8
max-w-xl
text-lg
md:text-xl
text-gray-300
leading-relaxed
"
>
Cinematic aerial documentation of Alaska's
remote coastlines, mountains, glaciers, and wilderness.
</p>





<div
class="
mt-10
flex
flex-wrap
gap-4
"
>

<a
href="#portfolio"
class="btn-primary"
>
Explore Archive →
</a>


<a
href="#contact"
class="btn-secondary"
>
Start A Project
</a>


</div>





<div
class="
mt-14
flex
flex-wrap
items-center
gap-4
text-xs
uppercase
tracking-[0.3em]
text-white/60
"
>

<span>
Southeast Alaska Operations
</span>


<span class="text-white/30">
•
</span>


<span>
FAA Part 107 Certified
</span>


</div>



</div>


</div>





<div
class="
absolute
bottom-8
left-1/2
-translate-x-1/2
text-xs
tracking-[0.4em]
uppercase
text-white/50
"
>
Scroll ↓
</div>



</section>