<nav
class="
fixed
top-0
left-0
right-0
z-50
bg-raven-black/80
backdrop-blur-md
border-b
border-white/10
"
>

<div
class="
max-w-7xl
mx-auto
px-6
h-20
flex
items-center
justify-between
"
>

<a
href="#home"
class="
font-heading
text-2xl
font-bold
tracking-wide
"
>
Raven0rix
</a>


<div
class="
hidden
md:flex
gap-8
text-sm
"
>

<a href="#about" class="hover:text-glacier-blue">
About
</a>

<a href="#portfolio" class="hover:text-glacier-blue">
Portfolio
</a>

<a href="#services" class="hover:text-glacier-blue">
Services
</a>

<a href="#shop" class="hover:text-glacier-blue">
Shop
</a>

<a href="#contact" class="hover:text-glacier-blue">
Contact
</a>

</div>


</div>

</nav>