---
---

<nav
class="
fixed
top-0
left-0
right-0
z-50
bg-black/80
backdrop-blur-lg
border-b
border-white/10
"
>

<div
class="
max-w-7xl
mx-auto
px-6
h-20
flex
items-center
justify-between
"
>


<a
href="#home"
class="flex items-center"
>

<img
src="/images/ravenorix-logo.png"
alt="RavenØrix"
class="
h-11
md:h-12
w-auto
object-contain
"
/>

</a>





<div
class="
hidden
lg:flex
items-center
gap-8
text-xs
uppercase
tracking-[0.3em]
"
>

<a
href="#about"
class="text-white/60 hover:text-white transition"
>
Field Dossier
</a>


<a
href="#portfolio"
class="text-white/60 hover:text-white transition"
>
Visual Archive
</a>


<a
href="#services"
class="text-white/60 hover:text-white transition"
>
Operations
</a>


<a
href="#shop"
class="text-white/60 hover:text-white transition"
>
Expedition Archive
</a>


<a
href="#contact"
class="text-white/60 hover:text-white transition"
>
Contact
</a>


</div>





<div
class="
hidden
lg:flex
items-center
gap-5
"
>


<a
href="https://www.youtube.com/channel/UC_3iTbiuo9_5zGLFFsWH-Vg"
target="_blank"
rel="noopener noreferrer"
aria-label="YouTube"
class="
text-white/50
hover:text-glacier-blue
transition
"
>

<svg
xmlns="http://www.w3.org/2000/svg"
viewBox="0 0 24 24"
class="w-5 h-5"
fill="currentColor"
>

<path
d="M23.5 6.2a3 3 0 0 0-2.1-2.1C19.5 3.6 12 3.6 12 3.6s-7.5 0-9.4.5A3 3 0 0 0 .5 6.2C0 8.1 0 12 0 12s0 3.9.5 5.8a3 3 0 0 0 2.1 2.1c1.9.5 9.4.5 9.4.5s7.5 0 9.4-.5a3 3 0 0 0 2.1-2.1c.5-1.9.5-5.8.5-5.8s0-3.9-.5-5.8zM9.6 15.5v-7l6.2 3.5-6.2 3.5z"
/>

</svg>

</a>




<a
href="https://www.instagram.com/raven0rix/"
target="_blank"
rel="noopener noreferrer"
aria-label="Instagram"
class="
text-white/50
hover:text-glacier-blue
transition
"
>

<svg
xmlns="http://www.w3.org/2000/svg"
viewBox="0 0 24 24"
class="w-5 h-5"
fill="currentColor"
>

<path
d="M7 2C4.2 2 2 4.2 2 7v10c0 2.8 2.2 5 5 5h10c2.8 0 5-2.2 5-5V7c0-2.8-2.2-5-5-5H7zm10 2c1.7 0 3 1.3 3 3v10c0 1.7-1.3 3-3 3H7c-1.7 0-3-1.3-3-3V7c0-1.7 1.3-3 3-3h10zm-5 3.5A4.5 4.5 0 1 0 12 16.5 4.5 4.5 0 0 0 12 7.5zm0 7.4A2.9 2.9 0 1 1 12 9a2.9 2.9 0 0 1 0 5.9zm5.2-8.6a1.1 1.1 0 1 0 0 2.2 1.1 1.1 0 0 0 0-2.2z"
/>

</svg>

</a>





<a
href="https://www.facebook.com/profile.php?id=61590769616253"
target="_blank"
rel="noopener noreferrer"
aria-label="Facebook"
class="
text-white/50
hover:text-glacier-blue
transition
"
>

<svg
xmlns="http://www.w3.org/2000/svg"
viewBox="0 0 24 24"
class="w-5 h-5"
fill="currentColor"
>

<path
d="M22 12a10 10 0 1 0-11.6 9.9v-7h-2.1V12h2.1V9.8c0-2.1 1.3-3.3 3.2-3.3.9 0 1.8.1 1.8.1v2h-1c-1 0-1.3.6-1.3 1.2V12h2.3l-.4 2.9h-1.9v7A10 10 0 0 0 22 12z"
/>

</svg>

</a>


</div>






<div class="lg:hidden">

<button
id="menu-button"
class="
text-white
text-2xl
"
aria-label="Open menu"
>
☰
</button>



<div
id="mobile-menu"
class="
hidden
absolute
top-20
left-0
right-0
bg-black/95
border-b
border-white/10
"
>


<div
class="
flex
flex-col
p-8
gap-6
uppercase
tracking-[0.2em]
text-sm
"
>

<a href="#about">
Field Dossier
</a>

<a href="#portfolio">
Visual Archive
</a>

<a href="#services">
Operations
</a>

<a href="#shop">
Expedition Archive
</a>

<a href="#contact">
Contact
</a>


</div>

</div>

</div>


</div>

</nav>



<script>

const button =
document.getElementById("menu-button");

const menu =
document.getElementById("mobile-menu");


button?.addEventListener(
"click",
() => {

menu?.classList.toggle("hidden");

}
);

</script>