<section
id="portfolio"
class="
py-24
bg-raven-black
"
>

<div
class="
max-w-7xl
mx-auto
px-6
lg:px-8
"
>


<div class="max-w-3xl">

<p
class="
uppercase
tracking-[0.3em]
text-glacier-blue
text-sm
font-semibold
"
>
Portfolio
</p>


<h2
class="
mt-5
text-4xl
md:text-5xl
font-heading
font-bold
"
>
Alaska From Above
</h2>


<p
class="
mt-6
text-lg
text-gray-300
"
>

A collection of cinematic aerial footage captured throughout
Southeast Alaska.

</p>

</div>



<div
class="
mt-14
grid
lg:grid-cols-3
gap-8
"
>


<!-- Video Card -->

<div
class="
overflow-hidden
rounded-2xl
border
border-white/10
bg-black/20
"
>


<div
class="
aspect-video
"
>

<iframe
class="
w-full
h-full
"
src="https://www.youtube.com/embed/eED70PqU-hI"
title="Point Bridget State Park"
allowfullscreen
>
</iframe>

</div>


<div class="p-6">

<h3
class="
text-xl
font-heading
font-semibold
"
>
Point Bridget State Park
</h3>


<p
class="
mt-2
text-gray-400
"
>
Juneau, Alaska
</p>


</div>


</div>



<!-- Video Card -->


<div
class="
overflow-hidden
rounded-2xl
border
border-white/10
bg-black/20
"
>


<div
class="
aspect-video
"
>

<iframe
class="
w-full
h-full
"
src="https://www.youtube.com/embed/syklTmTOyRg"
title="Outer Point Coastal Footage"
allowfullscreen
>
</iframe>

</div>


<div class="p-6">

<h3
class="
text-xl
font-heading
font-semibold
"
>
Outer Point
</h3>


<p
class="
mt-2
text-gray-400
"
>
Juneau, Alaska
</p>


</div>


</div>



<!-- Video Card -->


<div
class="
overflow-hidden
rounded-2xl
border
border-white/10
bg-black/20
"
>


<div
class="
aspect-video
"
>

<iframe
class="
w-full
h-full
"
src="https://www.youtube.com/embed/C6NmO8s28fY"
title="Eagle Beach Tidal Flats"
allowfullscreen
>
</iframe>

</div>


<div class="p-6">

<h3
class="
text-xl
font-heading
font-semibold
"
>
Eagle Beach
</h3>


<p
class="
mt-2
text-gray-400
"
>
Juneau, Alaska
</p>


</div>


</div>


</div>


</div>


</section>