<section
id="services"
class="
py-24
bg-raven-dark
"
>

<div
class="
max-w-7xl
mx-auto
px-6
lg:px-8
"
>


<div
class="
max-w-3xl
"
>

<p
class="
uppercase
tracking-[0.3em]
text-glacier-blue
text-sm
font-semibold
"
>
Services
</p>


<h2
class="
mt-5
text-4xl
md:text-5xl
font-heading
font-bold
"
>
Commercial Drone Services
</h2>


<p
class="
mt-6
text-lg
text-gray-300
"
>

Professional aerial content created for businesses,
brands, and organizations looking to showcase Alaska
from a unique perspective.

</p>


</div>



<div
class="
mt-14
grid
md:grid-cols-2
lg:grid-cols-3
gap-6
"
>


<div
class="
rounded-2xl
border
border-white/10
bg-black/20
p-8
hover:border-glacier-blue/50
transition
"
>

<h3 class="text-xl font-heading font-semibold">
Real Estate Media
</h3>

<p class="mt-4 text-gray-400">
Cinematic aerial photography and video for homes,
properties, vacation rentals, and developments.
</p>

</div>



<div
class="
rounded-2xl
border
border-white/10
bg-black/20
p-8
hover:border-glacier-blue/50
transition
"
>

<h3 class="text-xl font-heading font-semibold">
Tourism & Hospitality
</h3>

<p class="mt-4 text-gray-400">
Showcase Alaska destinations, lodges, tours,
and experiences through immersive aerial footage.
</p>

</div>



<div
class="
rounded-2xl
border
border-white/10
bg-black/20
p-8
hover:border-glacier-blue/50
transition
"
>

<h3 class="text-xl font-heading font-semibold">
Commercial Content
</h3>

<p class="mt-4 text-gray-400">
Professional drone footage for marketing campaigns,
websites, advertisements, and social media.
</p>

</div>



<div
class="
rounded-2xl
border
border-white/10
bg-black/20
p-8
hover:border-glacier-blue/50
transition
"
>

<h3 class="text-xl font-heading font-semibold">
Outdoor Brands
</h3>

<p class="mt-4 text-gray-400">
Cinematic adventure footage for companies,
creators, and Alaska-focused brands.
</p>

</div>



<div
class="
rounded-2xl
border
border-white/10
bg-black/20
p-8
hover:border-glacier-blue/50
transition
"
>

<h3 class="text-xl font-heading font-semibold">
Footage Licensing
</h3>

<p class="mt-4 text-gray-400">
License original Alaska aerial footage for films,
documentaries, and digital productions.
</p>

</div>



<div
class="
rounded-2xl
border
border-white/10
bg-black/20
p-8
hover:border-glacier-blue/50
transition
"
>

<h3 class="text-xl font-heading font-semibold">
Custom Projects
</h3>

<p class="mt-4 text-gray-400">
Have a unique idea? Contact RavenØrix to discuss
a custom aerial media project.
</p>

</div>



</div>


</div>

</section>