<section
id="shop"
class="
py-24
bg-raven-black
"
>

<div
class="
max-w-7xl
mx-auto
px-6
lg:px-8
"
>


<div class="max-w-3xl">


<p
class="
uppercase
tracking-[0.3em]
text-glacier-blue
text-sm
font-semibold
"
>
Shop
</p>


<h2
class="
mt-5
text-4xl
md:text-5xl
font-heading
font-bold
"
>
Digital Assets & Apparel
</h2>


<p
class="
mt-6
text-lg
text-gray-300
"
>

Bring the Alaskan frontier into your own projects,
workspace, and everyday adventures.

</p>


</div>



<div
class="
mt-14
grid
md:grid-cols-3
gap-8
"
>


<!-- Drone Footage -->


<div
class="
rounded-2xl
border
border-white/10
bg-raven-dark
p-8
hover:border-glacier-blue/50
transition
"
>

<h3
class="
text-2xl
font-heading
font-semibold
"
>
Alaska Drone Footage
</h3>


<p
class="
mt-4
text-gray-400
"
>
Cinematic aerial footage collections from Alaska's
glaciers, coastlines, mountains, and wilderness.
</p>


<a
href="https://ravenorix.gumroad.com/?section=LMs1yucv-DLMlDy7K3opXw%3D%3D"
class="
inline-block
mt-6
text-glacier-blue
hover:underline
"
>
Browse Footage →
</a>


</div>



<!-- Music -->


<div
class="
rounded-2xl
border
border-white/10
bg-raven-dark
p-8
hover:border-glacier-blue/50
transition
"
>

<h3
class="
text-2xl
font-heading
font-semibold
"
>
Cinematic Music
</h3>


<p
class="
mt-4
text-gray-400
"
>
Atmospheric soundscapes designed for filmmakers,
creators, documentaries, and travel content.
</p>


<a
href="https://ravenorix.gumroad.com/?section=bXqvCMhuq1L1ZIhOiIbHjw%3D%3D"
class="
inline-block
mt-6
text-glacier-blue
hover:underline
"
>
Explore Music →
</a>


</div>



<!-- Apparel -->


<div
class="
rounded-2xl
border
border-white/10
bg-raven-dark
p-8
hover:border-glacier-blue/50
transition
"
>

<h3
class="
text-2xl
font-heading
font-semibold
"
>
RavenØrix Apparel
</h3>


<p
class="
mt-4
text-gray-400
"
>
Outdoor-inspired designs built around Alaska,
exploration, and the northern frontier.
</p>


<a
href="#"
class="
inline-block
mt-6
text-glacier-blue
hover:underline
"
>
Shop Collection →
</a>


</div>



</div>


</div>


</section>